*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

h1{
    text-align: center;
}

.status{
    width: 350px;
    font-family: inherit;
    color: white;
    font-size: 20px;
    padding: 10px 65px;
    text-align: center;
}

.btn{
    display: flex;
    gap: 50px;
}
.check{
    width: 150px;
    padding: 10px;
    border: none;
    background-color: #320064;
    color: #fff;
}

.input{
    font-size: 20px;
    padding: 10px;
    width: 350px;
}

.success{
    background-color: green;
}

.error{
    background-color: red;
}

.warning{
    background-color: orange;
}

.history{
    width: 350px;
    font-family: inherit;
    color: white;
    font-size: 20px;
    text-align: center;
    list-style: none;
    border-bottom: none;
}

li{
    background-color: rgb(98, 128, 0);
    width: 348px;
    padding: 10px;
    margin-bottom: 1px;
}

section{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}
